<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nilou music</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  <style>
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(#131614, #000000);
      background-repeat: no-repeat;
  </style>
    <link rel="shortcut icon" type="image/svg" href="{% static 'nilou.svg' %}"/>
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
    <link rel="stylesheet" href="{% static 'dist/output1.css' %}">
</head>
<body>
    <div class="container flex bg-black">
        <div class="left-column bg-grey">
            <div class="home bg-grey rounded m-1 p-1">
                <div class="logo">
                    <a href="#home" style="text-decoration: none;">
                        <img src="{% static 'photos/nilou.svg' %}" alt="nilou">Nilou
                    </a>
                </div>
                <ul class="menu-list">
                    <li><a href="#home" style="text-decoration: none;">
                        <img src="{% static 'photos/home.png' %}" alt="home">Home
                    </a></li>
                    <li>
                        <form method="GET" action="{% url 'search_songs' %}">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Enter song title" name="q" aria-label="Search" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn search-button" type="submit" id="button-addon2">Search</button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="library bg-grey rounded m-1 p-1">
                <div class="heading" onclick="toggleSongList(this)">
                    <img src="{% static 'photos/stack.png' %}" alt="he">
                    <h2>Your library</h2>
                </div>
                <div class="songList">
                    <ul>

                </ul>
            </div>
        </div>
        <div class="footer">
            <div><a href="https://www.spotify.com/in-en/legal/"><span>Legal</span></a></div>
            <div><a href="https://www.spotify.com/in-en/safetyandprivacy/"><span>Safety & Privacy Center</span></a></div>
            <div><a href="https://www.spotify.com/in-en/legal/privacy-policy/"><span>Privacy Policy</span></a></div>
            <div><a href="https://www.spotify.com/in-en/legal/cookies-policy/"><span>Cookies</span></a></div>
            <div><a href="https://www.spotify.com/in-en/legal/privacy-policy/#s3"><span>About Ads</span></a></div>
            <div><a href="https://www.spotify.com/in-en/accessibility/"><span>Accessibility</span></a></div>
        </div>
    </div>
    <div class="right-column bg-grey rounded">
        <div class="header">
            <div class="nav">
                <img src="{% static 'photos/left_arrow.png' %}" alt="left">
                <img src="{% static 'photos/right_arrow.png' %}" alt="right">
            </div>
            {% if 'email' in request.session %}
            <div class="authenticated-user-content">
                <h2>Welcome, {{ user.name }}!</h2>
                <p>You are logged in as an authenticated user.</p>
                <a href="{% url 'user_logout' %}">Logout</a>
                <a href="{% url 'show' %}">User dashboard</a>
            </div>
            {% else %}
            <div class="buttons">
                <a type="button" class="btn" href="{% url 'register' %}">Signup</a>
                <a type="button" class="btn" href="{% url 'login_view' %}">Login</a>
            </div>
            {% endif %}
        </div>
        <div class="nilou-playlist">
            <h1>Nilou Music Playlist</h1>
            <div class="cardContainer">
                {% for album in albums %}
                <div class="card" data-songs='[
                    {% for song in album.music_set.all %}
                        {"url": "{{ song.song.url }}", "title": "{{ song.song_title }}", "thumbnail": "{{ song.thumbnail.url }}"}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]'>
                    <div class="play-button" data-artist-name="{{ album.artist.artistName }}">
                        <img src="{% static 'photos/play.svg' %}">
                    </div>
                    <div class="pause-btn" style="display:none;">
                        <img src="{% static 'photos/pause.svg' %}">
                    </div>
                    <img src="{{ album.thumbnail.url }}" alt="{{ album.albumName }}">
                    <h3>{{ album.albumName }}</h3>
                    <p>from - {{ album.artist.artistName }}</p>
                    <p>Last Updated {{ album.last_updated | timesince }} mins ago</p>
                </div>
                {% endfor %}
            </div>

            <div class="playbar">
                <div class="seekbar">
                    <div class="circle">

                </div>
            </div>
             <div class="abovebar">


                    <div class="songinfo">

                    </div>
                    <div class="songbuttons">
                        <img width="35" id="prevButton" class="invert" src="{% static 'photos/prev.png' %}" alt="">
                        <img width="35" id="play" class="invert" src="{% static 'photos/play.png' %}" alt="">
                        <img width="35" id="nextButton" class="invert" src="{% static 'photos/next.png' %}" alt="">
                    </div>
                    <div class="timevol">


                    <div class="songtime">
                        </div>
                    <div class="volume">
                        <img class="invert" width="25" src="{% static 'photos/volume.svg' %}" alt="">
                        <div class="range">
                            <input type="range" name="volume" id="">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    window.songUrls = {{ album.song_urls|safe }};
    window.songTitles = {{ album.song_titles|safe }};
</script>
</body>
</html>